<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatis.mapper.UserMapperXml" >

    <resultMap id="BaseResultMap" type="com.example.mybatis.entity.UserEntity" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
        <result column="pass_word" property="passWord" jdbcType="VARCHAR" />
        <result column="reg_time" property="regTime" jdbcType="VARCHAR" />
        <result column="user_name" property="userName" jdbcType="VARCHAR" />
    </resultMap>

    <select id="findAll" resultMap="BaseResultMap">
        SELECT * FROM user
    </select>

    <select id="getInfoById" resultMap="BaseResultMap">
        SELECT * FROM user WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="com.example.mybatis.entity.UserEntity">
        INSERT INTO user(id,email,nick_name,pass_word,reg_time,user_name)
        VALUES(#{id},#{email},#{nickName},#{passWord},#{regTime},#{userName})
    </insert>

    <update id="update" parameterType="com.example.mybatis.entity.UserEntity">
        UPDATE user SET nick_name=#{nickName},user_name=#{userName} WHERE id =#{id}
    </update>

    <delete id="delete">
        DELETE FROM user WHERE id =#{id}
    </delete>

</mapper>